<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>API Endpoints</h1>
	<p>Here are some example API endpoints. Of course, you can vary the URL param arguments.</p>
    <ul>
        <li>
			<p>Endpoint (GET):</p>
            <a href="http://ubccourses.patrickhong.ca/api/v1/course/info" target="_blank"> http://ubccourses.patrickhong.ca/api/v1/course/info</a>
        </li>
        <li>
			<p>Endpoint (GET):</p>
            <a href="http://ubccourses.patrickhong.ca/api/v1/course/info?dept=CPSC" target="_blank">http://ubccourses.patrickhong.ca/api/v1/course/info?dept=CPSC</a>
        </li>
        <li>
			<p>Endpoint (GET):</p>
            <a href="http://ubccourses.patrickhong.ca/api/v1/course/info?dept=CPSC&num=213&year=2023&session=W" target="_blank">http://ubccourses.patrickhong.ca/api/v1/course/info?dept=CPSC&num=213&year=2023&session=W</a>
        </li>
        <li>
			<p>Endpoint (GET):</p>
            <a href="http://ubccourses.patrickhong.ca/api/v1/course/info?dept=CPSC&num=213&section=101&year=2023&session=W" target="_blank">http://ubccourses.patrickhong.ca/api/v1/course/info?dept=CPSC&num=213&section=101&year=2023&session=W</a>
        </li>
    </ul>
</body>
</html>
